body{
	width: 1152px;
	margin: 0;
}

/* header */
li {
    list-style: none;
}
/* .fixde {
    position: fixed;
	width: 100%;
  } */

.menulist{
    display: flex;
    justify-content: flex-end;
	margin-top: 50px;
	margin-bottom: 50px;
}
.menucontent{
    margin-left: 10px;
}

/* header　ここまで */


/* main */
.nightviwe{
	text-align: center;
}
/* main ここまで */


/* article */

/* article ここまで */


/* footer */
footer{
    width: 100%;
    height: 150px;
    
}
/* footer ここまで */



/* レスポンシブルデザイン */
/* スマートフォン */

@media screen and (max-width :767px){
	body{
		width: 100%;
	}
}