body{
	width: 1152px;
	margin: 0;
}

/* header */

/* header　ここまで */


/* main */

/* main ここまで */


/* article */

/* article ここまで */


/* footer */

/* footer ここまで */



/* レスポンシブルデザイン */
/* スマートフォン */

@media screen and (max-width :767px){
	body{
		width: 100%;
	}
}