body{
	width: 1152px;
	margin: 0;
}

/* header */

/* header　ここまで */


/* main */

/* main ここまで */


/* article */

/* article ここまで */


/* footer */
footer{
    width: 100%;
    height: 150px;
    
}
/* footer ここまで */



/* レスポンシブルデザイン */
/* スマートフォン */

@media screen and (max-width :767px){
	body{
		width: 100%;
	}
}